$title-font: "Playfair Display", serif;
$text-font: "Roboto", sans-serif;

$menu-color: #CBB9B1;
$light-color: #E1CFC6;
$dark-color: #000000; 
$sign-color: #5A3B32;

html, body {
	font-family: $text-font;
	color: $light-color;
}

.wrapper {
	// Content 1280px
	max-width: 1310px;
	margin: 0 auto;
	padding: 0 15px;
}

@mixin b {
	border: 1px solid red;
}