.header {
	width: 100%;
	background-image: url(../../images/header_bg.png);
	background-repeat: no-repeat;
	background-size: cover;

	&__inner {
		position: relative;
		width: 100%;
		height: 100vh;

		// @include b;
	}
	&__nav {
		height: 15vh;
		display: flex;
		justify-content: space-between;
		align-items: center;
		// @include b;
	}
	&__contacts {
		display: flex;
		align-items: center;
		// @include b;

		.instagram {
			position: absolute;
			bottom: 30px;
			right: 0;
			display: block;
			width: 30px;
			height: 30px;
			background-image: url(../../images/icon_instagram_light.svg);
			background-repeat: no-repeat;
			background-size: contain;
			// @include b;
		}
	}
	&__content {
		height: 85vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		.main-title {
			width: fit-content;
			font-family: $title-font;
			font-size: 122px;
			line-height: 1.34;
			letter-spacing: 0.02em;
			color: $light-color;
			// @include b;
			
			&-description {
				margin-top: 30px;
				max-width: 518px;
				font-size: 32px;
				line-height: 1.16;
				color: $light-color;
				// @include b;
			}
		}
		.btn {
			margin-top: 30px;
		}
	}
}

.nav {
	&__item {
		display: inline-block;
		margin-left: 30px;
		color: $menu-color;
		// @include b;
		
		&:first-child {
			margin-left: 0;
		}
	}
}

a.btn {
	position: relative;
	display: block;
	width: 167px;
	height: 50px;
	font-weight: 500;
	font-size: 16px;
	line-height: 50px;
	// @include b;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 1px;
		background-color: $light-color;
	}
	&::after {
		content: "";
		position: absolute;
		right: 0;
		top: 50%;
		width: 10px;
		height: 10px;
		background-image: url(../../images/icon_arrow_right.svg);
		background-repeat: no-repeat;
		background-size: contain;
	}
}
a.scroll-down {
	position: absolute;
	bottom: 30px;
	display: block;
	width: 45px;
	height: 25px;
	background-image: url(../../images/icon_chevron.svg);
	background-repeat: no-repeat;
	background-position: center;
	// @include b;
}

@import "../burger";